



<nav>
  <a routerLink="/input-signals" routerLinkActive="active" >input signals</a>
  <a routerLink="/modal-input-signals" routerLinkActive="active" > Modal input signals</a>
  <a routerLink="/signal-queries" routerLinkActive="active" >signal queries</a>
  <a routerLink="/new-output-syntax" routerLinkActive="active" >new output syntax</a>
<a routerLink="/control-flow" routerLinkActive="active" >control flow</a>
<a routerLink="/defer-demo" routerLinkActive="active" >defer demo</a>

</nav>


<router-outlet />
